.form{
  padding: 1em;
  background-color: #8080808f;

  border: 2px solid black;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  &__title{

  }

  &__input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;

    margin: 10px 0;
  }

  &__button {
    padding: 5px 10px;
    border-radius: 5px;

    background-color: #00a338;
    color: white;

    font-weight: bold;
  }
}